src/managerd/gen-py/ucsd/ClusterManager-remote
src/managerd/gen-py/ucsd/ClusterManager.py
src/managerd/gen-py/ucsd/ClusterManager.pyc
src/managerd/gen-py/ucsd/__init__.pyc
src/managerd/gen-py/ucsd/ttypes.py
src/managerd/gen-py/ucsd/ttypes.pyc
